<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Registro Unificado - SUAS</title>
        <!-- tables -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


        <link href="{% static "css/styles.css" %}"  rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
     
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" style="color:#f2f2f2">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="#">Registro Unificado</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            Usuário: {{user.username|upper}}
            <!-- Navbar Search-->
            <!-- <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form> -->
            <!-- Navbar-->
            
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <!-- <li><a class="dropdown-item" href="#!">Settings</a></li> -->
                        <!-- <li><a class="dropdown-item" href="#!">Activity Log</a></li> -->
                        <!-- <li><hr class="dropdown-divider" /></li> -->
                        <li><a class="dropdown-item" href="/users/contas/logout">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <!-- REGISTRAR - Menu barra lateral -->
                            <div class="sb-sidenav-menu-heading">Formulários</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Ações Realizadas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="formulario-de-acao-atp">1. Apoio Técnico Presencial</a>
                                    <a class="nav-link" href="formulario-de-acao-atnp"> 2. Apoio Técnico Não Presencial</a>
                                    <a class="nav-link" href="formulario-de-acao-outras">3. Outras Ações</a>

                                </nav>
                            </div>

            
                            <a class="nav-link" href="formulario-de-evento">
                                <div class="sb-nav-link-icon"><i class="fas fa-keyboard"></i></div>
                                Participação em Eventos
                            </a>
                            <a class="nav-link" href="/users/formulario-de-instancias">
                                <div class="sb-nav-link-icon"><i class="fas fa-keyboard"></i></div>
                                Participação em Instância do SUAS
                            </a>

                            <!-- VISUALIZAR - Menu barra lateral -->
                            <div class="sb-sidenav-menu-heading">Visualizar</div>
                            <a class="nav-link" href="/users/tabelas">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tabelas
                            </a>
                            <a class="nav-link" href="/charts/">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                                Gráficos
                            </a>
                            <a class="nav-link" href="/charts/">
                                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                                Relatório
                            </a>
                            
                        </div>
                    </div>
                    <a class="navbar-brand ps-5" href="index_users.html">
                        <!-- <img src="{% static 'assets/img/logo_vs.png'%}" width="120" height="120" /> -->
                      </a>
                    <div class="sb-sidenav-footer ps-5">
                        <div class="small">
                        <img src="{% static 'assets/img/logo_vs.png'%}" width="120" height="120" />
                        </div>
                        
                        
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                 
                    {% block content %}
                    <!-- INSERIR O CONTEÚDO AQUI!!!!!!!!! -->
                    {% endblock %}


                        

                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Coordenadoria de Vigilância Socioassistencial &copy; Registro Unificado - SUAS</div>
                     
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static "js/scripts.js"%}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static "assets/demo/chart-area-demo.js"%}"></script>
        <script src="{% static "assets/demo/chart-bar-demo.js" %}"></script>
        <!-- tables -->        
        <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script> 
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" crossorigin="anonymous"></script> 
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

        <script>
            $(document).ready(function () {
            $('.mydatatable').DataTable();
            });
            $('.mydatatable').DataTable( 
                {
                    scrollX: true,
                    language:{
                        paginate: {
                            previous: '<<',
                            next:     '>>'
                        },
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "Nenhum registro encontrado",
                        "info": "Pg. _PAGE_ de _PAGES_",
                        "search": "Pesquisar",
                    },pageLength :10,paging: true, searching: true, responsive: true,
                }
                );

        </script>
    </body>
</html>
