{% extends 'app/index.html' %}
{% load static%}
{% block title %} 📋 Tabelas {% endblock %}
{% block content %}

<style>
  .table.table-ellipsis tbody td {
                                    max-width: 200px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap
                                  }
</style>

<div class="container-fluid px-4">
  <h1 class="mt-4">TABELA DE REGISTROS</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Visualização e Edição dos Registros</li>
  </ol>


  <!-- testando tabela de acoes concatenada e em formado json para pegar bootstrap config -->
  <!-- TABELA DE AÇÕES - ATP + ATNP + OUTRAS AÇÕES CONCATENADAS (FUNÇÃO INSERIDA NA VIEWS #################################################-->
  <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        1. Ações Realizadas
    </div>
    <div class="card-body table-responsive-sm" style="overflow:auto; max-height: 400px;">
      <table class="table table-sm mydatatable table-hover table-borderless table-ellipsis " style="width:100%; font-size:90%" >
        <thead>
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Data Ação</th>
            <th scope="col">Ação Realizada</th>
            <th scope="col">Caract. Ação</th>
            <th scope="col">Nº Prof. Atendidos</th>
            <th scope="col">Município Atendido</th>
            <th scope="col">Descrição</th>
            <th scope="col">Detalhe</th>
            <th scope="col">Deletar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          {% for table in data_json_acoes %}
          <!-- <tr style="height:25px;"> -->
            <!-- <td>{{table.id}}</td> -->
            <td>{{table.data_acao }}</td>
            <td>{{table.acao_realizada}}</td>
            <td>{{table.caracteristica_acao}}</td>
            <td  style="text-align:center">{{table.n_profissionais_atendidos}}</td>
            <td>{{table.municipio_atendido}}</td>
            <td>{{table.descricao_acao}}</td>
            

            <!-- DELETE BUTTON -->
            <td>
              {% if table.acao_realizada == "Apoio Técnico Presencial (ATP)" %}
              <form action="{% url 'deleteAtp' id=table.id %}"method="POST">
                {% csrf_token %}
              {% elif table.acao_realizada == "Apoio Técnico Não Presencial (ATNP)" %}
              <form action="{% url 'deleteAtnp' id=table.id %}" method="POST">
              {% csrf_token %}
              {% else %}
              <form action="{% url 'deleteOutras' id=table.id %}" method="POST">
                {% csrf_token %}
              {% endif %}
              <button type="submit" class="btn btn-outline-danger btn-sm" confirm="Deseja apagar ?">
                <i class="fa-solid fa-trash"></i></button>

            <!-- UPDATE BUTTON -->
            <td>
              {% if table.acao_realizada == "Apoio Técnico Presencial (ATP)" %}
                <a href="{% url 'updateAtp' id=table.id%}">
              {% elif table.acao_realizada == "Apoio Técnico Não Presencial (ATNP)" %}
                <a href="{% url 'updateAtnp' id=table.id%}">
                {% else %}
                <a href="{% url 'updateOutras' id=table.id%}"></a>
                {% endif %}
              <button type="button" class="btn btn-outline-info btn-sm">
                <i class="fas fa-edit"></i>
              </button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- PARTICIPACAO EM EVENTOS -->
  <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        2. Participação em Eventos
    </div>

    <div class="card-body table-responsive-sm" style="overflow:auto; max-height: 400px;">
      <table class="table table-sm mydatatable table-hover table-borderless table-ellipsis " style="width:100%; font-size:90%" >
        <thead>
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Nome do Evento</th>
            <th scope="col">Tipo do Evento</th>
            <th scope="col">Intituição ofertante</th>
            <th scope="col">Data inicial</th>
            <th scope="col">Data final</th>
            <th scope="col">Deletar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
        {% for table in page_object_evento %}
          <tr>
            <!-- <td scope="row">{{table.id}}</td> -->
            <td>{{table.titulo_evento}}</td>
            <td>{{table.tipo_evento}}</td>
            <td>{{table.instituicao_ofertante}}</td>
            <td>{{table.data_inicial|date:"d/m/y" }}</td>
            <td>{{table.data_final|date:"d/m/y" }}</td>
            
            <td>
              <form method="post" action="{% url 'deleteEvento' id=table.id %}">
                {% csrf_token %}
                <a href="{% url 'deleteEvento' id=table.id %}" id="delete-item">
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </a>
                </form>
            </td>
            <td><a href="{% url 'updateEvento' id=table.id%}">
                <button type="button" class="btn btn-outline-info btn-sm">
                  <i class="fas fa-edit"></i>
                </button>

              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

    <!-- INSTANCIAS DO SUAS -->
    <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-table me-1"></i>
          3. Participação em Instâncias Intersetoriais do SUAS
      </div>
      <div class="card-body table-responsive-sm" style="overflow:auto; max-height: 400px;">
        <table class="table table-sm mydatatable table-hover table-borderless table-ellipsis " style="width:100%; font-size:90%" >
          <thead >
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Espaço de participação</th>
              <th scope="col">Data inicial</th>
              <th scope="col">Data final</th>
              <!-- <th scope="col">Descrição</th>
              <th scope="col">Encaminhamentos</th> -->
            </tr>
          </thead>
          <tbody>
            {% for table in page_object_interset %}
            <tr>
              <td scope="row">{{table.id}}</td>
              <td>{{table.espaco_participacao}}</td>
              <td>{{table.data_inicial|date:"d/m/y" }}</td>
              <td>{{table.data_final|date:"d/m/y" }}</td>
              <td>
                <form method="post" action="{% url 'deleteInterset' id=table.id %}">
                  {% csrf_token %}
                  <a href="{% url 'deleteInterset' id=table.id %}" id="delete-item">
                      <button type="submit" class="btn btn-outline-danger btn-sm">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </a>
                  </form>
              </td>
              <td><a href="{% url 'updateInterset' id=table.id%}">
                  <button type="button" class="btn btn-outline-info btn-sm">
                    <i class="fas fa-edit"></i>
                  </button>
  
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  


</div>










 

<!-- Modal ######################################################### -->
<div class="modal fade" id="tableActionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Descrição</h5>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="buttonClose">Fechar Descrição</button>
      </div>
    </div>
  </div>
</div>




{% endblock %}





  <!-- TABELA DE AÇÕES - ATP ###########################################################################################################-->
  <!-- <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        1.1. Apoio Técnico Presencial - ATP
    </div>
    <div class="card-body"> 
      <table class="table mydatatable" style="width:100%" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipo de Registro</th>
            <th scope="col">Tecnico Presencial</th>
            <th scope="col">Num. de Funcionarios</th>
            <th scope="col">Município Atendido</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data Ação</th>
            <th scope="col">Deletar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          {% for table in table_action_atp_page_object %}
          <tr>
            <td>{{table.id}}</td>
            <td>{{table.acao_realizada}}</td>
            <td>{{table.caracteristica_acao}}</td>
            <td>{{table.n_profissionais_atendidos}}</td>
            <td>{{table.municipio_atendido}}</td>

            <td><a href="{% url 'description_table' id=table.id %}" class="text-decoration-none">Visualizar
              </a></td>
            <td>{{table.data_acao|date:"d/m/y" }}</td>
            <td>
              <form action="{% url 'deleteTableAction' id=table.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" confirm="Deseja apagar ?">
                  <i class="fa-solid fa-trash"></i></button>
              </form>
            </td>
            <td><a href="{% url 'tableActionUpdate' id=table.id%}">
                <button type="button" class="btn btn-info">
                  <i class="fas fa-edit"></i>
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div> -->


  <!-- TABELA DE AÇÕES - ATNP ###########################################################################################################-->
  <!-- <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        1.2. Apoio Técnico Presencial - ATNP
    </div>
    <div class="card-body"> 
      <table class="table mydatatable" style="width:100%" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipo de Registro</th>
            <th scope="col">Tecnico Presencial</th>
            <th scope="col">Num. de Funcionarios</th>
            <th scope="col">Município Atendido</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data Ação</th>
            <th scope="col">Deletar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          {% for table in table_action_atnp_page_object %}
          <tr>
            <td>{{table.id}}</td>
            <td>{{table.acao_realizada}}</td>
            <td>{{table.caracteristica_acao}}</td>
            <td>{{table.n_profissionais_atendidos}}</td>
            <td>{{table.municipio_atendido}}</td>

            <td><a href="{% url 'description_table' id=table.id %}" class="text-decoration-none">Visualizar
              </a></td>
            <td>{{table.data_acao|date:"d/m/y" }}</td>
            <td>
              <form action="{% url 'deleteTableAction' id=table.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" confirm="Deseja apagar ?">
                  <i class="fa-solid fa-trash"></i></button>
              </form>
            </td>
            <td><a href="{% url 'tableActionUpdate' id=table.id%}">
                <button type="button" class="btn btn-info">
                  <i class="fas fa-edit"></i>
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div> -->


  <!-- TABELA DE AÇÕES - OUTRAS AÇÕES ###########################################################################################################-->
  <!-- <div class="card mb-4">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      1.3. Apoio Técnico Presencial - Outras Ações
  </div>
  <div class="card-body"> 
    <table class="table mydatatable" style="width:100%" >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tipo de Registro</th>
          <th scope="col">Tecnico Presencial</th>
          <th scope="col">Num. de Funcionarios</th>
          <th scope="col">Município Atendido</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data Ação</th>
          <th scope="col">Deletar</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        {% for table in table_action_outras_page_object %}
        <tr>
          <td>{{table.id}}</td>
          <td>{{table.acao_realizada}}</td>
          <td>{{table.caracteristica_acao}}</td>
          <td>{{table.n_profissionais_atendidos}}</td>
          <td>{{table.municipio_atendido}}</td>

          <td><a href="{% url 'description_table' id=table.id %}" class="text-decoration-none">Visualizar
            </a></td>
          <td>{{table.data_acao|date:"d/m/y" }}</td>
          <td>
            <form action="{% url 'deleteTableAction' id=table.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" confirm="Deseja apagar ?">
                <i class="fa-solid fa-trash"></i></button>
            </form>
          </td>
          <td><a href="{% url 'tableActionUpdate' id=table.id%}">
              <button type="button" class="btn btn-info">
                <i class="fas fa-edit"></i>
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>
<br> -->