{% extends 'app/index_users.html' %}
{% load static%}
{% block title %} 📋 Tabelas {% endblock %}
{% block content %}

<div class="container-fluid px-4">
  <h1 class="mt-4">Tabelas</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Base dados dos registros realizadoss</li>
  </ol>

  <!-- TABELA DE AÇÕES ###########################################################################################################-->
  <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        1. Ações Realizadas
    </div>
    <div class="card-body">
        <table id="datatablesSimple",>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tipo de Registro</th>
              <th scope="col">Tecnico não Presencial</th>
              <th scope="col">Tecnico Presencial</th>
              <th scope="col">Outras Ações</th>
              <th scope="col">Num. de Funcionarios</th>
              <th scope="col">Município Atendido</th>
              <th scope="col">Descrição</th>
              <th scope="col">Data Ação</th>
              <th scope="col">Deletar</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
            {% for table in table_action_page_object %}
            <tr>
              <td>{{table.id}}</td>
              <td>{{table.acao_realizada}}</td>
              <td>{{table.tecnico_nao_presencial}}</td>
              <td>{{table.tecnico_presencial}}</td>
              <td>{{table.outras_acoes}}</td>
              <td>{{table.n_profissionais_atendidos}}</td>
              <td>{{table.municipio_atendido}}</td>

              <td><a href="{% url 'description_table' id=table.id %}" class="text-decoration-none">Visualizar
                </a></td>
              <td>{{table.data_acao}}</td>
              <td>
                <form action="{% url 'deleteTableAction' id=table.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger" confirm="Deseja apagar ?">
                    <i class="fa-solid fa-trash"></i></button>
                </form>
              </td>
              <td><a href="{% url 'tableActionUpdate' id=table.id%}">
                  <button type="button" class="btn btn-info">
                    <i class="fas fa-edit"></i>
                  </button>
                </a>
              </td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
    </div>
  </div>
</div>

<div class="container-fluid px-4">
  <!-- TABELA DE EVENTOS ##############################################################################################################-->
  <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        2. Participação em Eventos
    </div>
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome do Evento</th>
            <th scope="col">Tipo do Evento</th>
            <th scope="col">Intituição ofertante</th>
            <th scope="col">Deletar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
        {% for table in table_event_page_object %}
          <tr>
            <td scope="row">{{table.id}}</td>
            <td>{{table.titulo_evento}}</td>
            <td>{{table.tipo_evento}}</td>
            <td>{{table.instituicao_ofertante}}</td>
            <td>
              <form method="post" action="{% url 'deleteTableEvent' id=table.id %}">
                {% csrf_token %}
                <a href="{% url 'deleteTableEvent' id=table.id %}" id="delete-item">
                    <button type="submit" class="btn btn-danger">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </a>
                </form>
            </td>
            <td><a href="{% url 'tableEventUpdate' id=table.id%}">
                <button type="button" class="btn btn-info">
                  <i class="fas fa-edit"></i>
                </button>

              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- TABELA DE PARTICIPAÇÃO INTERSETORIAL SUAS#############################################################################################-->
<div class="container rounded">
  <h2 class="text-center my-5">Registro Intersetoriais-SUAS</h2>
  <table class="table table-stripped shadow-lg rounded" id="mytableinterset">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Espaço de participação</th>
        <th scope="col">Data inicial</th>
        <th scope="col">Data final</th>
        <!-- <th scope="col">Descrição</th>
        <th scope="col">Encaminhamentos</th> -->
      </tr>
    </thead>
    <tbody>
      {% for table in table_interset_page_object %}
      <tr>
        <td scope="row">{{table.id}}</td>
        <td>{{table.espaco_participacao}}</td>
        <td>{{table.data_inicial}}</td>
        <td>{{table.data_final}}</td>
        <td>
          <form method="post" action="{% url 'deleteTableInterset' id=table.id %}">
            {% csrf_token %}
            <a href="{% url 'deleteTableInterset' id=table.id %}" id="delete-item">
                <button type="submit" class="btn btn-danger">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </a>
            </form>
        </td>
        <td><a href="{% url 'tableIntersetUpdate' id=table.id%}">
            <button type="button" class="btn btn-info">
              <i class="fas fa-edit"></i>
            </button>

          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container">
  <p> 
    <br>
    <br>
    <br>
    <br>
  </p>
</div>



<!-- Modal ######################################################### -->
<div class="modal fade" id="tableActionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Descrição</h5>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="buttonClose">Fechar Descrição</button>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    $('table.display').DataTable();
});
    
   
  </script> -->


{% endblock %}