{% extends 'app/index.html' %}
{% load static%}
{% block title %} 📋 Tabelas {% endblock %}
{% block content %}

<style>
  .table.table-ellipsis tbody td {
                                    max-width: 200px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap
                                  }
</style>

<div class="container-fluid px-4">
  <h1 class="mt-4">TABELA DE REGISTROS</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Visualização e Edição dos Registros</li>
  </ol>


  <!-- testando tabela de acoes concatenada e em formado json para pegar bootstrap config -->
  <!-- TABELA DE AÇÕES - ATP + ATNP + OUTRAS AÇÕES CONCATENADAS (FUNÇÃO INSERIDA NA VIEWS #################################################-->
  <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        1. Ações Realizadas
    </div>
    <div class="card-body table-responsive-sm" style="overflow:auto; max-height: 400px;">
      <table class="table table-sm mydatatable table-hover table-borderless table-ellipsis " style="width:100%; font-size:90%" >
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Data Ação</th>
            <th scope="col">Ação Realizada</th>
            <th scope="col">Caract. Ação</th>
            <th scope="col">Nº Prof. Atendidos</th>
            <th scope="col">Município Atendido</th>
            <!-- <th scope="col">Detalhe</th> -->
            <!-- <th scope="col">Deletar</th> -->
            <!-- <th scope="col">Editar</th> -->
          </tr>
        </thead>
        <tbody>
          {% for table in data_json_acoes %}
          <!-- <tr style="height:25px;"> -->
            <td>{{user.username}}</td>
            <td>{{table.data_acao }}</td>
            <td>{{table.acao_realizada}}</td>
            <td>{{table.caracteristica_acao}}</td>
            <td  style="text-align:center">{{table.n_profissionais_atendidos}}</td>
            <td>{{table.municipio_atendido}}</td>

            <!-- LIST BUTTON -->
            <td>
              {% if table.acao_realizada == "Apoio Técnico Presencial (ATP)" %}
                <a href="{% url 'listAcaoAtp' id=table.id %}">
              {% elif table.acao_realizada == "Apoio Técnico Não Presencial (ATNP)" %}
                <a href="{% url 'listAcaoAtnp' id=table.id %}">
              {% else %}
              <a href="{% url 'listAcaoOutras' id=table.id %}">Ver</a>
              {% endif %}
              <button type="button" class="btn btn-outline-secondary btn-sm">
                <i class="fa-solid fa-file-lines"></i>
            </td>
            

            <!-- UPDATE BUTTON -->
            <td>
              {% if table.acao_realizada == "Apoio Técnico Presencial (ATP)" %}
                <a href="{% url 'updateAtp' id=table.id%}">
              {% elif table.acao_realizada == "Apoio Técnico Não Presencial (ATNP)" %}
                <a href="{% url 'updateAtnp' id=table.id%}">
                {% else %}
                <a href="{% url 'updateOutras' id=table.id%}"></a>
                {% endif %}
              <button type="button" class="btn btn-outline-info btn-sm">
                <i class="fas fa-edit"></i>
              </button>
              </a>
            </td>

            <!-- DELETE BUTTON -->
            <td>
            {% if table.acao_realizada == "Apoio Técnico Presencial (ATP)" %}
            <form action="{% url 'deleteAtp' id=table.id %}"method="POST">
              {% csrf_token %}
            {% elif table.acao_realizada == "Apoio Técnico Não Presencial (ATNP)" %}
            <form action="{% url 'deleteAtnp' id=table.id %}" method="POST">
            {% csrf_token %}
            {% else %}
            <form action="{% url 'deleteOutras' id=table.id %}" method="POST">
              {% csrf_token %}
            {% endif %}
            <button type="submit" class="btn btn-outline-danger btn-sm" confirm="Deseja apagar ?">
              <i class="fa-solid fa-trash"></i></button>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- PARTICIPACAO EM EVENTOS -->
  <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        2. Participação em Eventos
    </div>

    <div class="card-body table-responsive-sm" style="overflow:auto; max-height: 400px;">
      <table class="table table-sm mydatatable table-hover table-borderless table-ellipsis " style="width:100%; font-size:90%" >
        <thead>
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Nome do Evento</th>
            <th scope="col">Tipo do Evento</th>
            <th scope="col">Intituição ofertante</th>
            <th scope="col">Data inicial</th>
            <th scope="col">Data final</th>
            <!-- <th scope="col">Deletar</th>
            <th scope="col">Editar</th> -->
          </tr>
        </thead>
        <tbody>
        {% for table in page_object_evento %}
          <tr>
            <!-- <td scope="row">{{table.id}}</td> -->
            <td>{{table.titulo_evento}}</td>
            <td>{{table.tipo_evento}}</td>
            <td>{{table.instituicao_ofertante}}</td>
            <td>{{table.data_inicial|date:"d/m/y" }}</td>
            <td>{{table.data_final|date:"d/m/y" }}</td>
            
            <!-- LIST BUTTON -->
            <td>
              <a href="{% url 'listEvento' id=table.id %}">
                <button type="button" class="btn btn-outline-secondary btn-sm">
                  <i class="fa-solid fa-file-lines"></i>
                </button>
              </a>
            </td>
            
            <td> 
              <!-- UPDATE BUTTON -->
              <a href="{% url 'updateEvento' id=table.id%}">
                <button type="button" class="btn btn-outline-info btn-sm">
                  <i class="fas fa-edit"></i>
                </button>
              </a>
            </td>
            <!-- DELETE BUTTON -->
            <td>
              <form method="post" action="{% url 'deleteEvento' id=table.id %}">
                {% csrf_token %}
                <a href="{% url 'deleteEvento' id=table.id %}" id="delete-item">
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </a>
                </form>
            </td>
            

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

    <!-- INSTANCIAS DO SUAS -->
    <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-table me-1"></i>
          3. Participação em Instâncias Intersetoriais do SUAS
      </div>
      <div class="card-body table-responsive-sm" style="overflow:auto; max-height: 400px;">
        <table class="table table-sm mydatatable table-hover table-borderless table-ellipsis " style="width:100%; font-size:90%" >
          <thead >
            <tr>
              <th scope="col">Espaço de participação</th>
              <th scope="col">Data inicial</th>
              <th scope="col">Data final</th>
            </tr>
          </thead>
          <tbody>
            {% for table in page_object_interset %}
            <tr>
              <td>{{table.espaco_participacao}}</td>
              <td>{{table.data_inicial|date:"d/m/y" }}</td>
              <td>{{table.data_final|date:"d/m/y" }}</td>

              <!-- LIST BUTTON -->
              <td>
                <a href="{% url 'listInterset' id=table.id %}">
                  <button type="button" class="btn btn-outline-secondary btn-sm">
                    <i class="fa-solid fa-file-lines"></i>
                  </button>
                </a>
              </td>
              <!-- UPDATE BUTTON -->
              <td><a href="{% url 'updateInterset' id=table.id%}">
                <button type="button" class="btn btn-outline-info btn-sm">
                  <i class="fas fa-edit"></i>
                </button>

              </a>
            </td>

              <!-- DELETE BUTTON -->
              <td>
                <form method="post" action="{% url 'deleteInterset' id=table.id %}">
                  {% csrf_token %}
                  <a href="{% url 'deleteInterset' id=table.id %}" id="delete-item">
                      <button type="submit" class="btn btn-outline-danger btn-sm">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </a>
                  </form>
              </td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  


</div>










 

<!-- Modal ######################################################### -->
<div class="modal fade" id="tableActionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Descrição</h5>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="buttonClose">Fechar Descrição</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}