{% extends 'app/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title%} Listar Registro de Participação em Eventos {% endblock %}


{% block content %}
<div class="container w-75 mb-3">      
  <div class="row mx-auto">
    <div class="col-md-2">
    </div>
    <h4 class="font-weight-bold text-left mt-4 mb-4" >AÇÕES REALIZADAS <br>
    <span style="color: dimgrey;font-size: 70%;">Descrição completa</span>
    <br><hr>
    </h4>      
    <div class="text-break "> 
  
      {% for acao in acaoAtp_object_model%}
        <!-- {% if acao.acao_realizada == "Apoio Técnico Presencial (ATP)" %} -->
        <p><span style="font-weight:bold;">Ação Realizada:</span> {{acao.acao_realizada}}</p>
        <p><span style="font-weight:bold;">Município atendido:</span> {{acao.municipio_atendido}}</p>
        <p><span style="font-weight:bold;">Caracteristica da Ação:</span> {{acao.caracteristica_acao}}</p>
        <p><span style="font-weight:bold;">Número de profissionais atendidos:</span> {{acao.n_profissionais_atendidos}}</p>
        <p><span style="font-weight:bold;">descricao_acao:</span><br>{{acao.descricao_acao}}</p>
        <hr>
        <p style="font-size: 70%;"><span style="font-weight:bold;"> Registrado por:</span> {{user.first_name|title}} {{user.last_name|title}}</p>

        <!-- {% endif %} -->
        
        
        
        
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
<!-- user = models.ForeignKey(User, on_delete=models.CASCADE, related_name='acaoAtp')
    acao_realizada = models.CharField(max_length=100, choices= ACAO_REALIZADA_CHOICE, default= 'Apoio Técnico Presencial (ATP)') # preenche automaticamente
    caracteristica_acao = models.CharField(max_length=100, choices=TECNICO_PRESENCIAL_CHOICE, default= '')
    n_profissionais_atendidos = models.IntegerField('Numero de Funcionario',blank=False, null=False)
    descricao_acao = models.TextField('Descrição da Ação', max_length=1000, blank=False, null=False)
    data_acao = models.DateField('Data', blank=False, null=False)
    data_publicacao = models.DateField('Data da Publicação', default=timezone.now)
    municipio_atendido  -->