{% extends 'app/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title%} Registro de Ações {% endblock %}


{% block content %}
<div class="container w-50 mb-3">      
  <div class="row mx-auto">
    <div class="col-md-2">
    </div>
    <h6 class="font-weight-bold text-center mt-4 mb-4 center" >Registro de Ações Realizadas </h6>
    <div class="rounded" style="background-color:#9bddb8 ;">
      <h3 class="text-center mt-4 mb-4 center" >Apoio Técnico - Outras Ações</h3>
      </div>
      
  
    <div class="card-body">  
      <form method="post" >
          {% csrf_token %}
            <div class="row">
              <div class="col-md-12" >
                {{formOutras.acao_realizada|as_crispy_field }} 
              </div>
              <div class="col-md-6">
                {{ formOutras.caracteristica_acao|as_crispy_field }}
              </div>

              <div class="col-md-6">
                {{ formOutras.municipio_atendido|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ formOutras.n_profissionais_atendidos|as_crispy_field }}
              </div>

              <div class="col-md-6">
                {{ formOutras.data_acao|as_crispy_field }}
              </div>
              
              
            </div>
            <div class="mx-auto">
                {{ formOutras.descricao_acao|as_crispy_field }}
            </div>

            <div class="container">
                <div class="row md-4">
                    <div class="col text-center mt-3">
                        <button type="submit" class="btn btn-success btn-md text-center">Registrar</button>
                    </div>
                </div>
              </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


<!-- <div class="col-md-4">
  {{ form_table_action.caracteristica_acao|as_crispy_field }}
</div> -->
<!-- <div class="col-md-4">
  {{ form_table_action.caracteristica_acao|as_crispy_field }}
</div> -->
