{% extends 'app/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title%} Registro de Ações {% endblock %}


{% block content %}

<div class="container w-75 mb-3 card shadow-lg border-0 rounded-lg mt-5">      
  <div class="row mx-auto">
    <div class="col-md-2">
    </div>
    <div class="rounded mt-4 mb-4 center" style="background-color:#9bddb8 ;">
      <h3 class="text-center mt-4 mb-4" >REGISTRO DE AÇÕES</h3>
      </div>
    <!-- <h4 class="font-weight-bold text-left mt-4 mb-4 left" >Registro de Ações Realizadas </h4> -->
    <h6 style="color:rgb(123, 123, 123);"><span style="font-weight: bold;">Usuário:</span> {{user.first_name|title}} {{user.last_name|title}}</h6>
    <h6 style="color:rgb(123, 123, 123);"><span style="font-weight: bold;">Setor:</span> {{user.sector_name}}</h6>
    <hr>
    <!-- <div class="rounded" style="background-color:#9bddb8 ;">
      <h3 class="text-center mt-4 mb-4 center" >Apoio Técnico Presencial - ATP</h3>
      </div> -->
      
  
    <div class="card-body">  
      <form method="post" >
          {% csrf_token %}
            <div class="row">
              <div class="col-md-12" >
                {{formAtnp.acao_realizada|as_crispy_field }} 
                {{ formAtnp.caracteristica_acao|as_crispy_field }}
                {{ formAtnp.municipio_atendido|as_crispy_field }}
                {{ formAtnp.n_profissionais_atendidos|as_crispy_field }}
                {{ formAtnp.data_acao|as_crispy_field }}
              </div>
              
              
            </div>
            <div class="mx-auto">
                {{ formAtnp.descricao_acao|as_crispy_field }}
            </div>

            <div class="container">
                <div class="row md-4">
                    <div class="col text-center mt-3">
                        <button type="submit" class="btn btn-success btn-md text-center">Registrar</button>
                    </div>
                </div>
              </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


<!-- <div class="col-md-4">
  {{ form_table_action.caracteristica_acao|as_crispy_field }}
</div> -->
<!-- <div class="col-md-4">
  {{ form_table_action.caracteristica_acao|as_crispy_field }}
</div> -->
