{% extends 'app/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title%} Listar Registro de Participação Instâncias Intersetoriais do SUAS{% endblock %}


{% block content %}
<div class="container w-75 mb-3">      
  <div class="row mx-auto">
    <div class="col-md-2">
    </div>
    <h4 class="font-weight-bold text-left mt-4 mb-4" >PARTICIPACAO EM INSTÂNCIAS INSTERSETORIAIS-SUAS  <br>
    <span style="color: dimgrey;font-size: 70%;">Descrição completa</span>
    <br><hr>
    </h4>      
    <div class="text-break "> 
  
      {% for interset in interset_object_model %}
      <!-- <h6>Título do Evento:</h6> -->
      <p><span style="font-weight:bold;">Título do Evento:</span> {{interset.espaco_participacao}}</p>
      <p><span style="font-weight:bold;">Data Inicial:</span> {{interset.data_inicial}}. <span style="font-weight:bold;">Data Final:</span> {{evento.data_final}}</p>
      <p><span style="font-weight:bold;">Descrição:</span><br>{{interset.descricao_evento}}</p>
      <p><span style="font-weight:bold;">Encaminhamentos:</span><br>{{interset.encaminhamentos}}</p>
      <br>
      <hr>
      <p style="font-size: 70%;"><span style="font-weight:bold;"> Registrado por:</span> {{user.first_name|title}} {{user.last_name|title}}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
